<% provide(:title, 'Node status') %>
<h1>Node status</h1>

<%
require "httparty"
require "json"

%>
<div class = "row">
  <p>Current Slice : 
    <%@user_slices.each do |slice|%>
      <%=slice + ","%>
    <%end%>
  </p>

  <p>Choose one of your slices, in order to check the status of its reserved nodes:</p>

  <%= select_tag(:user_slice, options_for_select(@user_slices)) %>
</div>


<div class = "row">

  <div class = "col-lg-10">      
        <% @node_list.each do |element|%>
          
            <%if @reserved_nodes.include?(element)%>            
              <div id = "node_<%=element%>" class = "nodes">
                <p><%=element%></p>
                <p id = "node<%=element%>"></p>
            
                <div class = "on-off-status">
                  <%= button_to "OFF", {:action => "set_node_off", :controller => "node_status", :node_id => element} ,:id =>"off_"+element , :remote => true, :disabled => false , :class => "btn btn-danger node-off"%>
            
                  <%= button_to "ON", {:action => "set_node_on", :controller => "node_status", :node_id => element},:id =>"on_"+element, :remote => true, :disabled => true, :class => "btn btn-primary node-on" %>
                </div>

                <div class = "reset-status">
                  <%= button_to "Reset", {:action => "reset_node", :controller => "node_status", :node_id => element},:id =>"reset"+element, :class => "btn btn-reset", :remote => true, :disabled => true %>
                </div>
              </div>
            <%else%>
              <div class = "disabled_nodes">

                <p><%=element%></p>
                <p id = "node<%=element%>"></p>
            
                <div class = "on-off-status">
                  <%= button_to "OFF", {:action => "set_node_off", :controller => "node_status", :node_id => element} , :class => "btn btn-danger node-off" , :remote => true, :disabled => true %>
            
                  <%= button_to "ON", {:action => "set_node_on", :controller => "node_status", :node_id => element}, :class => "btn btn-primary node-on", :remote => true, :disabled => true %>
                </div>

                <div class = "reset-status">
                  <%= button_to "Reset", {:action => "reset_node", :controller => "node_status", :node_id => element}, :class => "btn btn-reset", :remote => true, :disabled => true %>
                </div>
              </div>
            <%end%> 
           
        <%end%>
  </div>
</div>

<script>
  
  $('.node-on').click(function(){
    var id = this.id;
    $("#"+id).prop('disabled', true)
    
  });
  $('.node-off').click(function(){
    var id = this.id;
    $("#"+id).prop('disabled', true); 
  });
</script>
