<% provide(:title, 'Sign in') %>

<div class="row">
  <div class = "col-xm-3 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4 form-signin">
    <%= form_for :session, url: sessions_path, :html =>{:class => "form-signin" } do |f| %>
      <h2 class = "form-signin-heading" >sign in now</h2>

      <div class = "login-wrap">
        
        
        <%= f.text_field :email, class: "form-control", autofocus: "", placeholder: "Email" %>
        
        <%= f.password_field :password, class: "form-control", autofocus: "", placeholder: "Password" %>

        <%= f.submit "Sign in", class: "btn btn-lg btn-login btn-block" %>

        <div class="registration">
          Don't have an account yet?                 
          <%= link_to "Create an account!", signup_path %>
        </div>

      </div> 
    <% end %>
  </div>
</div>