<% provide(:title, 'My_Reservations') %>
<div class = "row">
  <div class = "col-lg-12">
    <section class = "panel ">
      <header class="panel-heading"> My Reservations </header>
      <div class = "panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <%@my_reservations.each_key do |key|%>
            <%if key == @my_reservations.keys[0]%>
              <li class = "active"><a href="#<%=key%>" role="tab" data-toggle="tab"><%=key%></a></li>
            <%else%>
              <li><a href="#<%=key%>" role="tab" data-toggle="tab"><%=key%></a></li>
            <%end%>
          <%end%>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <%@my_reservations.each do |key,value|%>
            <%if key == @my_reservations.keys[0]%>
              <div class="tab-pane fade in active" id="<%=key%>">
                <%if value.length !=0 %>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>From</th>
                          <th>Until</th>
                          <th>Resources</th>
                          <th>Type</th>
                          <th>Cancel</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%reservation_num = 1%>
                        <%value.each do |reservation|%>
                          <%
                          # date_now = Time.zone.now.to_s.split(" ")[0]
                          # time_now = Time.zone.now.to_s.split(" ")[1][0...-3]
                          # time = date_now+"T"+time_now
                          time = Time.zone.now.to_s

                          # if reservation["valid_from"].to_s[0...-4]<= time && reservation["valid_until"].to_s[0...-4] > time
                          if reservation["valid_from"].to_s<= time && reservation["valid_until"].to_s > time%>
                            <tr style = "background: #A4E8FF">
                          <%else%>
                            <tr>
                          <%end%>
                            <td><%=reservation_num%></td>
                            <td> <%= reservation["valid_from"]%> </td>
                            <td> <%= reservation["valid_until"]%> </td>
                            <td> 
                              <%
                                resources_name_type = []
                                reservation["components"].each do |element|
                                  this_resource = []
                                  if element["component"]["name"].start_with? ("node")
                                    this_resource << element["component"]["name"]
                                  else
                                    this_resource << "channel"+element["component"]["name"]
                                  end
                                  this_resource << element["component"]["type"]
                                  resources_name_type << this_resource
                                end
                                resources_name_type = resources_name_type.uniq
                                resources_name_type.each do |element|%>
                                  <%=element[0] %>
                                <%end
                              %>
                              
                            </td>
                            <td>
                              <%resources_name_type.each do |element|%>
                                  <%=element[1] %>
                              <%end%>
                            </td>
                            <td> <%= button_to "Cancel", {:action => "cancel_reservation", :controller => "scheduler", :lease_uuid => reservation["uuid"]},:id =>"cancel"+reservation["uuid"], :class => "btn btn-danger btn-cancel", :method => "delete"%> </td>
                          </tr>
                          <%reservation_num += 1%>
                        <%end%>
                      </tbody>

                    </table>
                  </div>
                <%else%>
                  There is no reservations for slice: <%=key%>  
                <%end%>  
              </div>
            <%else%>
              <div class="tab-pane fade" id="<%=key%>">
                <%if value.length !=0 %>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>From</th>
                          <th>Until</th>
                          <th>Resources</th>
                          <th>Type</th>
                          <th>Cancel</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%reservation_num = 1%>
                        <%value.each do |reservation|%>
                          <tr>
                            <td><%=reservation_num%></td>
                            <td> <%= reservation["valid_from"]%> </td>
                            <td> <%= reservation["valid_until"]%> </td>
                            <td> 
                              <%
                                resources_name_type = []
                                reservation["components"].each do |element|
                                  this_resource = []
                                  this_resource << element["component"]["name"]
                                  this_resource << element["component"]["type"]
                                  resources_name_type << this_resource
                                end
                                resources_name_type = resources_name_type.uniq
                                resources_name_type.each do |element|%>
                                  <%=element[0] %>
                                <%end
                              %>
                              
                            </td>
                            <td>
                              <%resources_name_type.each do |element|%>
                                  <%=element[1] %>
                              <%end%>
                            </td>
                            <td> <%= button_to "Cancel", {:action => "cancel_reservation", :controller => "scheduler", :lease_uuid => reservation["uuid"]},:id =>"cancel"+reservation["uuid"], :class => "btn btn-danger btn-cancel", :method => "delete"%> </td>
                          </tr>
                          <%reservation_num += 1%>
                        <%end%>
                      </tbody>

                    </table>
                  </div>
                <%else%>
                  There is no reservations for slice: <%=key%>  
                <%end%>  
              </div>
            <%end%>        
          <%end%>
        </div>
      </div><!-- End of panel-->
    </section>
  </div>
</div>

<!-- <%=@slices%> -->

<!-- <%=@my_reservations%> -->

