<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title><%= full_title(yield(:title)) %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	</head>
	<body>
		
			<%= render 'layouts/header' %>
			
			<% flash.each do |key, value| %>
		    	<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		  <% end %>

		  <div class = "container-fluid">
		  	<div class = "row" id="site-row">
		  		<div class = "col-xm-3 col-sm-3 col-md-2 sidebar">
		  			<%= render 'layouts/sidebar' %>
		  		</div>

		  		<div class = "col-xm-9 col-sm-9  col-md-9 col-lg-10  main">
		  			
		  			<div id = "wrapper-main">
		  				<%= yield %>
		  			</div>
		  		</div>

		  	</div>

		  </div>

		  <!--<%= debug(params) if Rails.env.development? %>-->
		  
		<%= render 'layouts/footer' %>

	</body>
<script>
	jQuery(function() {
  	var tz = moment();
  	$.cookie('timezone', tz, { path: '/' });
	});
</script>

</html>
